/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 /* body {
	font-family:"ＭＳ ゴシック", Osaka, sans-serif;
} */

div {
	color:#000000;
	background-color:#FFFFFF;
	font-size: 9.5pt;
    padding-top: 5px;
    padding-left: 20px;
}

div#result p {
	font-size: 12pt;
	padding-top: 5px;
	padding-bottom: 5px;
}

div h4 {
	font-size: 12pt;
}

div#result table {
	border: 2px #000000 solid;
	border-collapse: collapse;
/*	width: 900px;*/
}

div#result table th {
	border: 1px #000000 solid;
	background-color:#CCCCCC;
	min-width: 150px;
	padding: 5px;
	padding-left: 10px;
}

div#result table td {
	border: 1px #000000 solid;
	min-width: 150px;
	padding: 5px;
	padding-left: 10px;
}

div#loader {
	width: 150px;
	height: 150px;
	background-repeat: no-repeat;
	background-position: center center;
}

div#caution {
	border: none;
	text-align: left;
}

div#caution th,td {
	border: none;
	vertical-align: top;
	padding: 5px;
}

table#caution2 {
	border: 1px #000000 solid;
	border-collapse: collapse;
	font-size: 9.5pt;
	width: 500px;
}

table#caution2 th {
	border: 1px #000000 solid;
	background-color:#CCCCCC;
	color:#000000;
	padding-top: 5px;
	padding-bottom: 5px;
}

table#caution2 td {
	border: 1px #000000 solid;
	background-color:#FFFFFF;
	color:#000000;
	padding-top: 3px;
	padding-left: 5px;
	padding-bottom: 3px;
}
